@font-face{
    font-family: 'SSFnormal';
    src:url(../fonts/SSFnormal.ttf);
}

html, body{
    margin: 0px;
    font-family: SSFnormal;
    font-weight: 400;
    background-color: rgb(233,234,239);
    
    height: 400vh;
}
input{ font-family: SSFnormal !important; font-weight: 600;}
a, a:visited{ color: rgb(13,122,255); text-decoration: none; display: inline-flex; font-weight: 400; }

/* Block */
.block{
    width: 100%; 
    height: 44px;
    padding: 7px; 
    line-height: 30px;
    box-sizing: border-box;
    background-color: rgb(249,249,249);
    position: relative;
}
.block.input-block{
    background-color: rgb(201,201,206);
    border-bottom: 1px solid #EEE;
    line-height: 0px;
}
.block.input-block:focus{
    background-color: white;
}
.block>input.search{
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 7px;
    line-height: 14px;
    box-sizing: border-box;
    text-align: center; 
}
.block>input.search:focus{
    outline: none;
    text-align: left;
}

.block>a.left-anchor{
    float: left;
    margin-right: 7px;
}
.block>a.right-anchor{
    float: right;
    margin-left: 7px;
}
.block>.block-title{
    width: 100%;
    height: 44px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.block-title>h1{
    margin: 0px;
    font-size: 1em;
    line-height: 44px;
}
.block-title>h2, .block-title>p{
    margin: 0px;
    font-size: .7em;
    line-height: 14px;
    
}
.block-title>p{
    color: rgb(183,183,186);
}

.block.input-group{
    display: flex;
    border-top: 1px solid #EEE;
}
.block.input-group>input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #EEE;
    padding: 7px;
}
.block.input-group>input:focus{ outline: none;}
.block.input-group>a{
    padding: 0px 7px;
}

/** Segmented Controllers */
.seg-ctrl-groups{
    display: flex;
    margin: 0px 16px;
    border: 1.5px solid rgb(13,122,255);
    border-radius: 4px;
}
.long-groups{
    margin: 0px 8px;
}
a.seg-ctrl{
    flex: 1;
    font-size: 14px;
    border-left: 1.5px solid rgb(13,122,255);
    display: inline-block;
    text-align: center;
    line-height: 24px;
}
.seg-ctrl-groups>a.seg-ctrl:first-of-type{
    border-left: none;
}
a.seg-ctrl.active{
    background-color: rgb(13,122,255);
    color: white;
}

/** Tabs blocks*/
.block.tab-block{
    border-top: 1px solid #AAA;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
}

/** Controls */
.block>input.switch{
    display: none;
}
input[type="checkbox"].switch+label{
    width: 51px;
    height: 32px;
    display: inline-flex;
    background-color: white;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 16px;
    align-items:center;
    border: 1px solid #EEE;
    position: relative;
    
    -webkit-transition: background-color .3s ease;
    -moz-transition: lefbackground-color .3s ease;
    transition: background-color .3s ease;
}
input[type="checkbox"].switch+label::before{
    content: '';
    width: 26px;
    height: 26px;
    left: 2px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #CCC;
    position: absolute;
    top: 2px;
    
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    transition: left .3s ease;
}
input[type="checkbox"]:checked.switch+label{
    background-color: rgb(77,215,101);
}
input[type="checkbox"]:checked.switch+label::before{
    left: 21px;
}
.block>.switch+label{
    float: right;
}