@charset "UTF-8";
/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face { font-family: "Ionicons"; src: url("../fonts/ionicons.eot?v=2.0.0"); src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }
.alarm:before, .alarm-outline:before, .albums:before, .albums-outline:before, .americanfootball:before, .americanfootball-outline:before, .analytics:before, .analytics-outline:before, .arrow-back:before, .arrow-down:before, .arrow-forward:before, .arrow-left:before, .arrow-right:before, .arrow-thin-down:before, .arrow-thin-left:before, .arrow-thin-right:before, .arrow-thin-up:before, .arrow-up:before, .at:before, .at-outline:before, .barcode:before, .barcode-outline:before, .baseball:before, .baseball-outline:before, .basketball:before, .basketball-outline:before, .bell:before, .bell-outline:before, .body:before, .body-outline:before, .bolt:before, .bolt-outline:before, .book:before, .book-outline:before, .bookmarks:before, .bookmarks-outline:before, .box:before, .box-outline:before, .briefcase:before, .briefcase-outline:before, .browsers:before, .browsers-outline:before, .calculator:before, .calculator-outline:before, .calendar:before, .calendar-outline:before, .camera:before, .camera-outline:before, .cart:before, .cart-outline:before, .chatboxes:before, .chatboxes-outline:before, .chatbubble:before, .chatbubble-outline:before, .checkmark:before, .checkmark-empty:before, .checkmark-outline:before, .circle-filled:before, .circle-outline:before, .clock:before, .clock-outline:before, .close:before, .close-empty:before, .close-outline:before, .cloud:before, .cloud-download:before, .cloud-download-outline:before, .cloud-outline:before, .cloud-upload:before, .cloud-upload-outline:before, .cloudy:before, .cloudy-night:before, .cloudy-night-outline:before, .cloudy-outline:before, .cog:before, .cog-outline:before, .color-filter:before, .color-filter-outline:before, .color-wand:before, .color-wand-outline:before, .compose:before, .compose-outline:before, .contact:before, .contact-outline:before, .copy:before, .copy-outline:before, .crop:before, .crop-strong:before, .download:before, .download-outline:before, .drag:before, .email:before, .email-outline:before, .eye:before, .eye-outline:before, .fastforward:before, .fastforward-outline:before, .filing:before, .filing-outline:before, .film:before, .film-outline:before, .flag:before, .flag-outline:before, .flame:before, .flame-outline:before, .flask:before, .flask-outline:before, .flower:before, .flower-outline:before, .folder:before, .folder-outline:before, .football:before, .football-outline:before, .game-controller-a:before, .game-controller-a-outline:before, .game-controller-b:before, .game-controller-b-outline:before, .gear:before, .gear-outline:before, .glasses:before, .glasses-outline:before, .grid-view:before, .grid-view-outline:before, .heart:before, .heart-outline:before, .help:before, .help-empty:before, .help-outline:before, .home:before, .home-outline:before, .infinite:before, .infinite-outline:before, .information:before, .information-empty:before, .information-outline:before, .ionic-outline:before, .keypad:before, .keypad-outline:before, .lightbulb:before, .lightbulb-outline:before, .list:before, .list-outline:before, .location:before, .location-outline:before, .locked:before, .locked-outline:before, .loop:before, .loop-strong:before, .medical:before, .medical-outline:before, .medkit:before, .medkit-outline:before, .mic:before, .mic-off:before, .mic-outline:before, .minus:before, .minus-empty:before, .minus-outline:before, .monitor:before, .monitor-outline:before, .moon:before, .moon-outline:before, .more:before, .more-outline:before, .musical-note:before, .musical-notes:before, .navigate:before, .navigate-outline:before, .nutrition:before, .nutrition-outline:before, .paper:before, .paper-outline:before, .paperplane:before, .paperplane-outline:before, .partlysunny:before, .partlysunny-outline:before, .pause:before, .pause-outline:before, .paw:before, .paw-outline:before, .people:before, .people-outline:before, .person:before, .person-outline:before, .personadd:before, .personadd-outline:before, .photos:before, .photos-outline:before, .pie:before, .pie-outline:before, .pint:before, .pint-outline:before, .play:before, .play-outline:before, .plus:before, .plus-empty:before, .plus-outline:before, .pricetag:before, .pricetag-outline:before, .pricetags:before, .pricetags-outline:before, .printer:before, .printer-outline:before, .pulse:before, .pulse-strong:before, .rainy:before, .rainy-outline:before, .recording:before, .recording-outline:before, .redo:before, .redo-outline:before, .refresh:before, .refresh-empty:before, .refresh-outline:before, .reload:before, .reverse-camera:before, .reverse-camera-outline:before, .rewind:before, .rewind-outline:before, .rose:before, .rose-outline:before, .search:before, .search-strong:before, .settings:before, .settings-strong:before, .shuffle:before, .shuffle-strong:before, .skipbackward:before, .skipbackward-outline:before, .skipforward:before, .skipforward-outline:before, .snowy:before, .speedometer:before, .speedometer-outline:before, .star:before, .star-half:before, .star-outline:before, .stopwatch:before, .stopwatch-outline:before, .sunny:before, .sunny-outline:before, .telephone:before, .telephone-outline:before, .tennisball:before, .tennisball-outline:before, .thunderstorm:before, .thunderstorm-outline:before, .time:before, .time-outline:before, .timer:before, .timer-outline:before, .toggle:before, .toggle-outline:before, .trash:before, .trash-outline:before, .undo:before, .undo-outline:before, .unlocked:before, .unlocked-outline:before, .upload:before, .upload-outline:before, .videocam:before, .videocam-outline:before, .volume-high:before, .volume-low:before, .wineglass:before, .wineglass-outline:before, .world:before, .world-outline:before
{ display: inline-block; font-family: "Ionicons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.alarm:before { content: "\f3c8"; }

.alarm-outline:before { content: "\f3c7"; }

.albums:before { content: "\f3ca"; }

.albums-outline:before { content: "\f3c9"; }

.americanfootball:before { content: "\f3cc"; }

.americanfootball-outline:before { content: "\f3cb"; }

.analytics:before { content: "\f3ce"; }

.analytics-outline:before { content: "\f3cd"; }

.arrow-back:before { content: "\f3cf"; }

.arrow-down:before { content: "\f3d0"; }

.arrow-forward:before { content: "\f3d1"; }

.arrow-left:before { content: "\f3d2"; }

.arrow-right:before { content: "\f3d3"; }

.arrow-thin-down:before { content: "\f3d4"; }

.arrow-thin-left:before { content: "\f3d5"; }

.arrow-thin-right:before { content: "\f3d6"; }

.arrow-thin-up:before { content: "\f3d7"; }

.arrow-up:before { content: "\f3d8"; }

.at:before { content: "\f3da"; }

.at-outline:before { content: "\f3d9"; }

.barcode:before { content: "\f3dc"; }

.barcode-outline:before { content: "\f3db"; }

.baseball:before { content: "\f3de"; }

.baseball-outline:before { content: "\f3dd"; }

.basketball:before { content: "\f3e0"; }

.basketball-outline:before { content: "\f3df"; }

.bell:before { content: "\f3e2"; }

.bell-outline:before { content: "\f3e1"; }

.body:before { content: "\f3e4"; }

.body-outline:before { content: "\f3e3"; }

.bolt:before { content: "\f3e6"; }

.bolt-outline:before { content: "\f3e5"; }

.book:before { content: "\f3e8"; }

.book-outline:before { content: "\f3e7"; }

.bookmarks:before { content: "\f3ea"; }

.bookmarks-outline:before { content: "\f3e9"; }

.box:before { content: "\f3ec"; }

.box-outline:before { content: "\f3eb"; }

.briefcase:before { content: "\f3ee"; }

.briefcase-outline:before { content: "\f3ed"; }

.browsers:before { content: "\f3f0"; }

.browsers-outline:before { content: "\f3ef"; }

.calculator:before { content: "\f3f2"; }

.calculator-outline:before { content: "\f3f1"; }

.calendar:before { content: "\f3f4"; }

.calendar-outline:before { content: "\f3f3"; }

.camera:before { content: "\f3f6"; }

.camera-outline:before { content: "\f3f5"; }

.cart:before { content: "\f3f8"; }

.cart-outline:before { content: "\f3f7"; }

.chatboxes:before { content: "\f3fa"; }

.chatboxes-outline:before { content: "\f3f9"; }

.chatbubble:before { content: "\f3fc"; }

.chatbubble-outline:before { content: "\f3fb"; }

.checkmark:before { content: "\f3ff"; }

.checkmark-empty:before { content: "\f3fd"; }

.checkmark-outline:before { content: "\f3fe"; }

.circle-filled:before { content: "\f400"; }

.circle-outline:before { content: "\f401"; }

.clock:before { content: "\f403"; }

.clock-outline:before { content: "\f402"; }

.close:before { content: "\f406"; }

.close-empty:before { content: "\f404"; }

.close-outline:before { content: "\f405"; }

.cloud:before { content: "\f40c"; }

.cloud-download:before { content: "\f408"; }

.cloud-download-outline:before { content: "\f407"; }

.cloud-outline:before { content: "\f409"; }

.cloud-upload:before { content: "\f40b"; }

.cloud-upload-outline:before { content: "\f40a"; }

.cloudy:before { content: "\f410"; }

.cloudy-night:before { content: "\f40e"; }

.cloudy-night-outline:before { content: "\f40d"; }

.cloudy-outline:before { content: "\f40f"; }

.cog:before { content: "\f412"; }

.cog-outline:before { content: "\f411"; }

.color-filter:before { content: "\f414"; }

.color-filter-outline:before { content: "\f413"; }

.color-wand:before { content: "\f416"; }

.color-wand-outline:before { content: "\f415"; }

.compose:before { content: "\f418"; }

.compose-outline:before { content: "\f417"; }

.contact:before { content: "\f41a"; }

.contact-outline:before { content: "\f419"; }

.copy:before { content: "\f41c"; }

.copy-outline:before { content: "\f41b"; }

.crop:before { content: "\f41e"; }

.crop-strong:before { content: "\f41d"; }

.download:before { content: "\f420"; }

.download-outline:before { content: "\f41f"; }

.drag:before { content: "\f421"; }

.email:before { content: "\f423"; }

.email-outline:before { content: "\f422"; }

.eye:before { content: "\f425"; }

.eye-outline:before { content: "\f424"; }

.fastforward:before { content: "\f427"; }

.fastforward-outline:before { content: "\f426"; }

.filing:before { content: "\f429"; }

.filing-outline:before { content: "\f428"; }

.film:before { content: "\f42b"; }

.film-outline:before { content: "\f42a"; }

.flag:before { content: "\f42d"; }

.flag-outline:before { content: "\f42c"; }

.flame:before { content: "\f42f"; }

.flame-outline:before { content: "\f42e"; }

.flask:before { content: "\f431"; }

.flask-outline:before { content: "\f430"; }

.flower:before { content: "\f433"; }

.flower-outline:before { content: "\f432"; }

.folder:before { content: "\f435"; }

.folder-outline:before { content: "\f434"; }

.football:before { content: "\f437"; }

.football-outline:before { content: "\f436"; }

.game-controller-a:before { content: "\f439"; }

.game-controller-a-outline:before { content: "\f438"; }

.game-controller-b:before { content: "\f43b"; }

.game-controller-b-outline:before { content: "\f43a"; }

.gear:before { content: "\f43d"; }

.gear-outline:before { content: "\f43c"; }

.glasses:before { content: "\f43f"; }

.glasses-outline:before { content: "\f43e"; }

.grid-view:before { content: "\f441"; }

.grid-view-outline:before { content: "\f440"; }

.heart:before { content: "\f443"; }

.heart-outline:before { content: "\f442"; }

.help:before { content: "\f446"; }

.help-empty:before { content: "\f444"; }

.help-outline:before { content: "\f445"; }

.home:before { content: "\f448"; }

.home-outline:before { content: "\f447"; }

.infinite:before { content: "\f44a"; }

.infinite-outline:before { content: "\f449"; }

.information:before { content: "\f44d"; }

.information-empty:before { content: "\f44b"; }

.information-outline:before { content: "\f44c"; }

.ionic-outline:before { content: "\f44e"; }

.keypad:before { content: "\f450"; }

.keypad-outline:before { content: "\f44f"; }

.lightbulb:before { content: "\f452"; }

.lightbulb-outline:before { content: "\f451"; }

.list:before { content: "\f454"; }

.list-outline:before { content: "\f453"; }

.location:before { content: "\f456"; }

.location-outline:before { content: "\f455"; }

.locked:before { content: "\f458"; }

.locked-outline:before { content: "\f457"; }

.loop:before { content: "\f45a"; }

.loop-strong:before { content: "\f459"; }

.medical:before { content: "\f45c"; }

.medical-outline:before { content: "\f45b"; }

.medkit:before { content: "\f45e"; }

.medkit-outline:before { content: "\f45d"; }

.mic:before { content: "\f461"; }

.mic-off:before { content: "\f45f"; }

.mic-outline:before { content: "\f460"; }

.minus:before { content: "\f464"; }

.minus-empty:before { content: "\f462"; }

.minus-outline:before { content: "\f463"; }

.monitor:before { content: "\f466"; }

.monitor-outline:before { content: "\f465"; }

.moon:before { content: "\f468"; }

.moon-outline:before { content: "\f467"; }

.more:before { content: "\f46a"; }

.more-outline:before { content: "\f469"; }

.musical-note:before { content: "\f46b"; }

.musical-notes:before { content: "\f46c"; }

.navigate:before { content: "\f46e"; }

.navigate-outline:before { content: "\f46d"; }

.nutrition:before { content: "\f470"; }

.nutrition-outline:before { content: "\f46f"; }

.paper:before { content: "\f472"; }

.paper-outline:before { content: "\f471"; }

.paperplane:before { content: "\f474"; }

.paperplane-outline:before { content: "\f473"; }

.partlysunny:before { content: "\f476"; }

.partlysunny-outline:before { content: "\f475"; }

.pause:before { content: "\f478"; }

.pause-outline:before { content: "\f477"; }

.paw:before { content: "\f47a"; }

.paw-outline:before { content: "\f479"; }

.people:before { content: "\f47c"; }

.people-outline:before { content: "\f47b"; }

.person:before { content: "\f47e"; }

.person-outline:before { content: "\f47d"; }

.personadd:before { content: "\f480"; }

.personadd-outline:before { content: "\f47f"; }

.photos:before { content: "\f482"; }

.photos-outline:before { content: "\f481"; }

.pie:before { content: "\f484"; }

.pie-outline:before { content: "\f483"; }

.pint:before { content: "\f486"; }

.pint-outline:before { content: "\f485"; }

.play:before { content: "\f488"; }

.play-outline:before { content: "\f487"; }

.plus:before { content: "\f48b"; }

.plus-empty:before { content: "\f489"; }

.plus-outline:before { content: "\f48a"; }

.pricetag:before { content: "\f48d"; }

.pricetag-outline:before { content: "\f48c"; }

.pricetags:before { content: "\f48f"; }

.pricetags-outline:before { content: "\f48e"; }

.printer:before { content: "\f491"; }

.printer-outline:before { content: "\f490"; }

.pulse:before { content: "\f493"; }

.pulse-strong:before { content: "\f492"; }

.rainy:before { content: "\f495"; }

.rainy-outline:before { content: "\f494"; }

.recording:before { content: "\f497"; }

.recording-outline:before { content: "\f496"; }

.redo:before { content: "\f499"; }

.redo-outline:before { content: "\f498"; }

.refresh:before { content: "\f49c"; }

.refresh-empty:before { content: "\f49a"; }

.refresh-outline:before { content: "\f49b"; }

.reload:before { content: "\f49d"; }

.reverse-camera:before { content: "\f49f"; }

.reverse-camera-outline:before { content: "\f49e"; }

.rewind:before { content: "\f4a1"; }

.rewind-outline:before { content: "\f4a0"; }

.rose:before { content: "\f4a3"; }

.rose-outline:before { content: "\f4a2"; }

.search:before { content: "\f4a5"; }

.search-strong:before { content: "\f4a4"; }

.settings:before { content: "\f4a7"; }

.settings-strong:before { content: "\f4a6"; }

.shuffle:before { content: "\f4a9"; }

.shuffle-strong:before { content: "\f4a8"; }

.skipbackward:before { content: "\f4ab"; }

.skipbackward-outline:before { content: "\f4aa"; }

.skipforward:before { content: "\f4ad"; }

.skipforward-outline:before { content: "\f4ac"; }

.snowy:before { content: "\f4ae"; }

.speedometer:before { content: "\f4b0"; }

.speedometer-outline:before { content: "\f4af"; }

.star:before { content: "\f4b3"; }

.star-half:before { content: "\f4b1"; }

.star-outline:before { content: "\f4b2"; }

.stopwatch:before { content: "\f4b5"; }

.stopwatch-outline:before { content: "\f4b4"; }

.sunny:before { content: "\f4b7"; }

.sunny-outline:before { content: "\f4b6"; }

.telephone:before { content: "\f4b9"; }

.telephone-outline:before { content: "\f4b8"; }

.tennisball:before { content: "\f4bb"; }

.tennisball-outline:before { content: "\f4ba"; }

.thunderstorm:before { content: "\f4bd"; }

.thunderstorm-outline:before { content: "\f4bc"; }

.time:before { content: "\f4bf"; }

.time-outline:before { content: "\f4be"; }

.timer:before { content: "\f4c1"; }

.timer-outline:before { content: "\f4c0"; }

.toggle:before { content: "\f4c3"; }

.toggle-outline:before { content: "\f4c2"; }

.trash:before { content: "\f4c5"; }

.trash-outline:before { content: "\f4c4"; }

.undo:before { content: "\f4c7"; }

.undo-outline:before { content: "\f4c6"; }

.unlocked:before { content: "\f4c9"; }

.unlocked-outline:before { content: "\f4c8"; }

.upload:before { content: "\f4cb"; }

.upload-outline:before { content: "\f4ca"; }

.videocam:before { content: "\f4cd"; }

.videocam-outline:before { content: "\f4cc"; }

.volume-high:before { content: "\f4ce"; }

.volume-low:before { content: "\f4cf"; }

.wineglass:before { content: "\f4d1"; }

.wineglass-outline:before { content: "\f4d0"; }

.world:before { content: "\f4d3"; }

.world-outline:before { content: "\f4d2"; }